.mission-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: block;
}
@media (max-width: 768px) {
    .mission-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}